.product-image-section {
  padding: 18px;
}

.product-images picture img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 24px;
  /* display: flex; */
  cursor: pointer;
}

.thumbnail-images {
  display: flex;
  justify-content: space-between;
}

.thumbnail-images picture img {
  /* margin-right: 36px */
  border-radius: 12px;
  width: 96px;
  border: 2px solid #ffffff00;
}

.thumbnail-images picture img:hover {
  cursor: pointer;
  transition: 400ms;
  opacity: 75%;
}

.is-active {
  opacity: 75%;
  transition: 400ms;
  border: 2px solid var(--primary-color) !important;
}

.increment-button,
.decrement-button {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: calc(100vh / 3);
  font-size: 24px;
  cursor: pointer;
}

.increment-button {
  right: -5%;
}

.decrement-button {
  left: -5%;
}

.product-image .increment-button {
  display: none;
}

.product-image .decrement-button {
  display: none;
}
