.product-image-section {
  padding: 18px;
}

.product-images picture img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 24px;
  /* display: flex; */
  cursor: pointer;
}

.thumbnail-images {
  display: flex;
  justify-content: space-between;
}

.thumbnail-images picture img {
  /* margin-right: 36px */
  border-radius: 12px;
  width: 96px;
  border: 2px solid #ffffff00;
}

.thumbnail-images picture img:hover {
  cursor: pointer;
  transition: 400ms;
  opacity: 75%;
}

.is-active {
  opacity: 75%;
  transition: 400ms;
  border: 2px solid var(--primary-color) !important;
}
