@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  --primary-color: #ff7d1a;
  --secondary-color: #ffede0;

  --neutral-very-dark-blue: hsla(218, 12%, 13%);
  --neutral-dark-grayish-blue: hsla(218, 12%, 13%, 0.749);
  --neutral-grayish-blue: hsl(220, 14%, 40%);
  --neutral-light-grayish-blue: hsl(223, 64%, 98%);
  --neutral-white: hsl(0, 0%, 100%);

  --paragraph-font-size: 16px;
  --neutral-black: rgba(0, 0, 0, 0.75);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1440px;
  margin: auto;
}
